html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}
.container {
    //max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.notifications-container {
  border-color: var(--md-sys-color-surface);
}

.divide-light > :not([hidden]) ~ :not([hidden]) {
  border-color: var(--md-sys-color-on-surface-200);
}

.border-light-200 {
  border-color: var(--md-sys-color-surface-variant);
}

header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
}

button {
    margin-right: 15px;
}

.shy {
  border: 0 none;
  box-shadow: none;
  outline:0;
}
.shy:focus { outline:none!important; }

.speech {
  position: relative;
}
.speech:before,
.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.speech-right:before {
  right: 25%;
  top: -30px;
  border: 15px solid;
  border-color: transparent var(--md-sys-color-surface-7) var(--md-sys-color-surface-7) transparent;
}

.speech-left:after {
  left: 25%;
  top: -30px;
  border: 15px solid;
  border-color: transparent transparent var(--md-sys-color-surface-7) var(--md-sys-color-surface-7);
}


.thought {
  display:flex;
  border-radius:30px;
  align-items:center;
  justify-content:center;
  text-align:center;
  z-index: 2;
}
.thought:before,
.thought:after {
  content:"";
  background-color:inherit;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
//.thought:before {
//  width:44px;
//  height:44px;
//  top:-12px;
//  left:28px;
//  box-shadow:-50px 30px 0 -12px #fff;
//}
.thought:after {
  bottom: -12px;
  right: 2px;
  width: 20px;
  height: 20px;
  box-shadow: 3px 15px 0 -4px #fff, 11px 21px 0 -6px #fff;

}
//40px -34px 0 0 #fff,
//-28px -6px 0 -2px #fff,
.win-glow {
  background: radial-gradient(circle at center, rgb(150 255 90 / 50%), rgb(255 251 83 / 40%), transparent), 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.material-icons.md-18, .material-symbols-outlined.md-18 { font-size: 18px; }
.material-icons.md-24, .material-symbols-outlined.md-24 { font-size: 24px; }
.material-icons.md-36, .material-symbols-outlined.md-36 { font-size: 36px; }
.material-icons.md-48, .material-symbols-outlined.md-48 { font-size: 48px; }
.material-icons.md-48, .material-symbols-outlined.md-60 { font-size: 60px; }
.material-icons.md-48, .material-symbols-outlined.md-72 { font-size: 72px; }


.abcRioButton {
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  color: #262626;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}
.abcRioButton:hover {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}
.abcRioButtonBlue {
  background-color: #4285f4;
  border: none;
  color: #fff;
}
.abcRioButtonBlue:hover {
  background-color: #4285f4;
}
.abcRioButtonBlue .abcRioButtonContentWrapper {
  border: 1px solid transparent;
}
.abcRioButtonContentWrapper {
  height: 100%;
  width: 100%;
}
.abcRioButtonBlue .abcRioButtonIcon {
  background-color: #fff;
  border-radius: 1px;
}
.abcRioButtonIcon {
  float: left;
}
.abcRioButtonContents {
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
}


.modal.show .modal-dialog {
  transform: none;
}
.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0,-50px);
}
.pointer-events-none {
  pointer-events: none;
}
@media (min-width: 576px) {
  .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
.modal-dialog-scrollable {
  height: calc(100% - 1rem);
}
.modal-dialog {
  margin: 0.5rem;
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.fade {
  transition: opacity .15s linear;
}
